/* styles/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

:root {
  position: relative; /* Assurez-vous que la position est relative pour utiliser z-index */
  --background-color: hsla(210, 7%, 12%, 1);
}

:root:before {
  content: "";
  position: fixed; /* Changement de absolute à fixed */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Changement de 100% à 100vh pour couvrir la hauteur de la viewport */
  background-image: url("../public/bg-img.png");

  z-index: -1;
}

body {
  background-color: var(--background-color);
}

/* Autres styles globaux */
